! .Xresources!
! :!xrdb % to apply
! dont forget to restart programs

! urxvt scrollbar style - rxvt (default), plain (most compact), next, or xterm
URxvt.scrollstyle: plain

! clipboard
URxvt.perl-ext-common: ...,clipboard
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
